.statisticsBox{
    background-color:#333;
    color: white;
    position: fixed;
    top: 5px;
    right: 5px;
    padding:5px;
    width: 250px;
    height: 315px;
}

.statisticInfo{
    margin:0px;
}

.statisticInfo.correct{
    color:green;
}
.statisticInfo.incorrect{
    color:red;
}
.statisticInfo.total{
    color:white;
}
.statisticInfo.percentage-success{
    color:white;
}

#statistic-graph{
    /* Estilos para el gráfico */
}
#countDownTimer{
    text-align:center;
}

question{
    background-color:yellow;
}

pre {
    border: solid 1px;
}